/DeliveryService/target/
/DeliveryService/derby.log
/MultimoduleDeliveryService/ServiceLayer/target/
/DeliveryServiceParent/DeliveryService-Model/target/
/DeliveryServiceParent/DeliveryService-ServiceLayer/target/
/DeliveryServiceParent/DeliveryService-Web/target/
/DeliveryServiceParent/FileDownloader/nbproject/private/
/DeliveryServiceParent/DeliveryService-API/target/
/DeliveryServiceParent/DeliveryService-REST-Client/target/
/DeliveryServiceRestGuiClient/target/