* {margin: 0;padding: 0;}
body{background-color: #d1d1d1; font-family: sans-serif; font-size: 14px; color: white; text-align: center;}

div#container{
    margin:0 auto;
    padding:10px;
    text-align: left;
    width:1366px;
    height:90%;
}

div#banner{
    width:100%;
    height: 160px;
    background-image: url("resources/bannerBG.jpg");
    background-repeat: repeat-x;
    text-align: left;
}

div#banner a{text-decoration: none;}
div#banner img {padding:10px;}


h1 img{
    vertical-align: middle;    
}
h1{padding-bottom: 0.25em;}

div#navigation{
    width:1366px;
    height: 34px;
    margin-top: 5px;
}

div#navigation ul{
    display: block;
    height: 34px;
    list-style-type: none;    
    margin-top: 5px;
}

div#navigation ul li {
    display: inline;
}

div#navigation ul li a{
    float: left;
    width: 25%;
    height:24px;
    text-decoration: none;
    text-align: center;
    color:white;    
    padding-top: 10px;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

div#navigation ul li a:hover{
    background-color: #4f4f4f;
    text-shadow: 0 0 10px #fff;
    background: url("resources/a_href_L.jpg") left repeat-y,
        url("resources/a_href_R.jpg") right repeat-y,#4f4f4f;
}
/*
div#navigation ul li a:active{    
    background-color: #4f4f4f;
    text-shadow: 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 20px #fff;
    -moz-box-shadow: inset 0 0 20px #fff;
    box-shadow: inset 0 0 20px #fff;    
}*/

div#content{
    text-align: left;
    width:1325px;
    min-height: 480px;
    padding:1.5em;
    float:left;
    background-color: #e1e1e1;
    color:#000;
}
div#footer{
    clear: both;
    width: 100%;
    height:84px;
    background-image: url("resources/bannerBG.jpg");
    background-repeat: repeat-x;    
}

table{
    border-collapse: collapse;
    //width: 35%;
}
th{background-color: #4f4f4f;font-size: 14px;height: 25px;color:#fff; text-align: center; padding:0 5px 0 5px;}
table,th,tr,td {
    border: 1px solid #000;
}

td{padding:5px; text-align: right;}
td.centering{text-align: center;}
tr.even{
    background-color: #f1f1f1;    
}

div.error{
    border:1px solid #da3d0d;
    background-color: #f3b52f;
    padding:5px;
    color:#da3d0d;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

div.error:hover{
    background-color: #ffc000;
}

div.info{
    border:1px solid #0051a7;
    background-color: #439dfc;
    padding:5px;
    color:#0051a7;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

div.info:hover{
    background-color: #43b4fc;
}

a{color:#439dfc;}

input[type=submit]{
    width:25px;
    height:25px;
    display:inline-block;
    text-decoration:none;
    border:0;
    cursor: pointer;
}

input[type=submit].delList{
    background-image: url("resources/deliveries_btn.jpg");
}

input[type=submit].goodsList{
    background-image: url("resources/goods_btn.jpg");
}
input[type=submit].edit{
    background-image: url("resources/edit_btn.jpg");
}

input[type=submit].delete{
    background-image: url("resources/delete_btn.jpg");
}
div.reformed-form{
    width:450px;
}
div.reformed-form fieldset{
    padding:1em;  
    border:1px solid #4f4f4f;
}

div.reformed-form fieldset legend{
    display: inline-block;
    font-size: 14px;
    color: white;
    background-color: #4f4f4f;
    border:1px solid #000;
    padding:0.25em;
}
div.reformed-form input{
    margin-bottom: 0.5em;
    width:250px;
    
}
div.reformed-form input[type=submit],div.reformed-form input[type=reset]{
    width:auto;
    height:25px;
    border: 1px solid #4f4f4f;
    background-color: #d1d1d1;
    font-size: 14px;
    font-weight: bold;
    margin:0.5em;
    padding:0 0.5em 0 0.5em;
    cursor: pointer;
}

div.reformed-form input[type=submit]:hover,div.reformed-form input[type=reset]:hover, input[type=submit].edit:hover, input[type=submit].delete:hover,input[type=submit].delList:hover,input[type=submit].goodsList:hover{
    box-shadow: 0 0 5px #43b4fc;
}

div.reformed-form select {
    width:250px;    
}

div#submit_buttons {
    float:right; 
    
}
